<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Accredit Challenge</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen px-40">
    <div class="border-b border-border/70 ">
        <div class="flex py-3">
            <div class="flex gap-4 items-center">
                <h1 class="text-xl md:text-3xl font-bold text-blue-500">
                    Accredit Challenge
                </h1>
                <nav class="hidden md:flex gap-6 text-sm">
                    <a href="@Url.Action("Index","Github")">Home</a>
                </nav>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
        lucide.createIcons();
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @RenderSection("scripts", required: false)
</body>
</html>