
@{
    ViewBag.Title = "Index";
}
<main>
    <section class="flex flex-col justify-center mx-auto py-12">
        <h1 class="text-center text-3xl font-bold leading-tight tracking-tighter md:text-6xl lg:leading-[1.1]">
            GitHub user finder 🔍
        </h1>
        <h3 class="font-semibold text-center text-gray-400 text-lg">An Accredit Challenge</h3>
    </section>
    <div class="flex gap-2 justify-center lg:pb-20 md:pb-8">
        <input class="p-4 w-80 border rounded-full" id="username" type="text" placeholder="Enter a Github username" />
        <button onclick="findUser()"><span class="bg-blue-400 rounded-full p-3 text-lg flex hover:bg-blue-300"><i data-lucide="search" class="text-white"></i></span></button>
    </div>
    <div class="flex flex-col items-center align-center text-neutral-400" id="placeholder-message">
        <i data-lucide="clipboard-list" class="my-4 h-10 w-10"></i>
        <span class="text-lg font-semibold">
            Nothing to show here
        </span>
        <span class="text-sm font-light text-center">
            Type an github username to search
        </span>
    </div>
    <div class="flex gap-6 justify-center">
        <div class="hidden flex w-3/4 items-center justify-between" id="user-container">
            <div class="flex flex-col w-1/4">
                <img class="rounded-full w-60" id="user-avatar" />
                <h1 class="text-3xl font-bold mt-4" id="user-name"></h1>
                <h2 class="flex gap-1 text-gray-400"><i data-lucide="at-sign" class="w-4"></i><span id="user-username"></span></h2>
                <h3 class="flex gap-1"><i data-lucide="map-pin" class="w-4"></i><span id="user-location"></span></h3>
            </div>
            <div class="flex flex-col w-full border rounded-lg p-4">
                <h1 class="text-3xl font-bold">Top starred repos</h1>
                <div id="repos" class="mt-4"></div>
            </div>
            <div>

            </div>
        </div>
    </div>
</main>

@section scripts{
    <script>
        $(document).on('keypress', function (e) {
            if (e.which == 13) {
                if ($("#username").is(":focus"))
                    findUser();
            }
        });

        function findUser() {
            var username = $("#username").val();
            if (!username) {
                Swal.fire({
                    icon: "warning",
                    title: "Oops...",
                    text: 'Username must not be empty'
                });
                return;
            }

            $.ajax({
                url: '@Url.Action("GetUser")?username=' + username,
                beforeSend: function () {
                    $("#user-container").addClass("hidden");
                    $("#placeholder-message").addClass("hidden");
                    clearRepos();
                    showLoader();
                },
                success: function (res) {
                    if (res.success) {
                        $("#user-avatar").attr("src", res.data.Avatar_Url);
                        $("#user-name").text(res.data.Name);
                        $("#user-username").text(res.data.Login);
                        $("#user-location").text(res.data.Location);
                        getRepos(username);
                    }
                    else {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: res.msg
                        });
                        $("#user-container").addClass("hidden");
                        $("#placeholder-message").removeClass("hidden");
                    }
                }
            })
        }

        function getRepos(username) {
            $.ajax({
                url: '@Url.Action("GetRepos")?username=' + username,
                success: function (data) {
                    $("#repos").append(data);
                    lucide.createIcons();
                },
                complete: function () {
                    closeLoader();
                    $("#user-container").removeClass("hidden");
                }
            })
        }

        function showLoader() {
            Swal.fire({
                title: "Loading",
                allowOutsideClick: false,
                didOpen: () => {
                    Swal.showLoading();
                },
            });
        }
        function closeLoader()
        {
            swal.close();
        }
        function clearRepos() {
            $("#repos").html('');
        }
    </script>
}